
   <footer>
        <div class="footer-bottom" style="padding-top: 3rem; background-color: lightslategray">
            <div class="container ">
                <div class="row justify-content-xl-center">
                    <div class="col">
                        <div class="header">
                            <h3>SEHATLAH</h3>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="header">
                            <h5>Site Map</h5>
                        </div>
                        <br>
                        <ul class="footer-nav nav flex-column">
                            <li class="nav-item"><a style="color:white;" href="/faq">FAQ </a></li>
                            <li class="nav-item"><a style="color:white;" href="/sk">Syarat & ketentuan</a></li>
                            <li class="nav-item"><a style="color:white;" href="/security">Security</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="header">
                            <h5>Hubungi Kami</h5>
                        </div>
                        <br>
                        <ul class="footer-nav nav flex-column">
                            <a style="color:white;" href="https://goo.gl/maps/fKLeKUrzsUaJwWQ86">
                                <li class="nav-item">
                                    Universitas Tarumanagara Gedung I
                                </li>
                                <li class="nav-item">
                                    Jl. Letjen S. Parman No. 1
                                </li>
                                <li class="nav-item">
                                    Jakarta Barat 11440
                                </li>
                            </a>
                            
                
                            <br>
                            <li class="nav-item">Customer Service : <br> 0811-1344-788 (Willy)</li>
                            <li class="nav-item"><a style="color:white;"  href='mailto:help.sehatlah@gmail.com'>help.sehatlah@gmail.com</a></li>
                            <br>
                        </ul>
                    </div>

                            
                </div>
            </div>
            <br>
        </div>
        </div>
        <div style="background-color: rgb(53, 52, 52);">
            <br>
            <div class="text-center" style="color: white;">
                &copy;SEHATLAH, 2022. ALL RIGHTS RESERVED
            </div>
            <br>
        </div>
    </footer>
    