<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SehatLah || Beli Obat, Alat Kesehatan, Periksa Kesehatan Sendiri</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <%- include('../layouts/navbar.ejs'); %>

    <div style="margin: 5% 5%">
        <h1 class="text-center" style="color: rgb(0, 0, 0);">Frequently Asked Questions (FAQ)</h1>
        <br><br>
        <div class="bg-light faq-content" style="border-color: rgb(0, 0, 0);">
            <div class="faq-header">Q.</div>
            <div class="faq-isi big-text">
                <p>Bagaimana cara daftar akun SehatLah?</p>
            </div>
        </div>
        <div class="faq-content" style="border-color: rgb(240, 15, 127);">
            <div class="faq-header">A.</div>
            <div class="faq-isi">
                <p>Klik Sign up, lalu masukkan alamat email dan password Anda, lalu akun Anda akan otomatis terdaftar.
                </p>
            </div>
        </div>
        <br><br>
        <div class="bg-light faq-content" style="border-color: rgb(0, 0, 0);">
            <div class="faq-header">Q.</div>
            <div class="faq-isi big-text">
                <p>Bagaimana cara mengedit profil akun SehatLah?</p>
            </div>
        </div>
        <div class="faq-content" style="border-color: rgb(240, 15, 127);">
            <div class="faq-header">A.</div>
            <div class="faq-isi">
                <p>Pilih menu profil, lalu klik edit dan lengkapi profil. Isi data diri anda dengan lengkap : 
                    Nama Lengkap, Tanggal Lahir, Alamat, Jenis Kelamin, Email, Berat Badan, Tinggi Badan
                </p>
            </div>
        </div>
        <br><br>
        <div class="bg-light faq-content" style="border-color: rgb(0, 0, 0);">
            <div class="faq-header">Q.</div>
            <div class="faq-isi big-text">
                <p>Apa kegunaan layanan apotek online?</p>
            </div>
        </div>
        <div class="faq-content" style="border-color: rgb(240, 15, 127);">
            <div class="faq-header">A.</div>
            <div class="faq-isi">
                <p>Apotek online adalah layanan pemesanan obat secara online. Layanan 
                    ini memudahkan Anda untuk membeli vitamin dan obat tanpa harus 
                    berpergian. Anda juga bisa memilih obat berdasarkan kategori penyakitnya.
                    </p>
            </div>
        </div>
        <br><br>
        <div class="bg-light faq-content" style="border-color: rgb(0, 0, 0);">
            <div class="faq-header">Q.</div>
            <div class="faq-isi big-text">
                <p>Apakah yang harus saya lakukan, jika saya menemukan bug di aplikasi maupun website Halodoc?</p>
            </div>
        </div>
        <div class="faq-content" style="border-color: rgb(240, 15, 127);">
            <div class="faq-header">A.</div>
            <div class="faq-isi">
                <p>Anda dapat menghubungi call center SehatLah di 0811-1344-788 atau dapat mengirimkan email 
                    ke help.sehatlah@gmail.com .</p>
            </div>
        </div>
        <br><br>
        <div class="bg-light faq-content" style="border-color: rgb(0, 0, 0);">
            <div class="faq-header">Q.</div>
            <div class="faq-isi big-text">
                <p>Bagaimana cara menggunakan kalkulator BMI?</p>
            </div>
        </div>
        <div class="faq-content" style="border-color: rgb(240, 15, 127);">
            <div class="faq-header">A.</div>
            <div class="faq-isi">
                <p>Pertama, masukan tinggi badan Anda di kolom Tinggi Badan (cm). 
                    Kedua, masukan berat badan Anda di kolom Berat Badan (kg). Jika 
                    ukuran tinggi dan berat badan Anda sudah sesuai, tekan tombol hitung 
                    dan hasilnya akan muncul dibawah.</p>
            </div>
        </div>
        <br><br>
    </div>
    <br>

        <%- include('../layouts/footer.ejs'); %>

        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>